.contacts{
width: 100%;
max-width: 1500px;
display: flex;
align-items: center;
background: #16161E;
background-size: cover;
box-sizing: border-box;
justify-content: center;
padding: 100px 120px;
}
.contacts_block_img{
position: relative;
width: 400px;
height: 358px;
background: rgba(46, 45, 56, 0.49);
}
.contact_form{
    display: flex;
    flex-direction: row;
    padding: 0 60px;
    width: 800px;
height: 358px;
background: #2E2D38;
justify-content: space-between;
    align-items: center;
}
.contact_form input{
    color:#fff;
}
.contact_form textarea{
    color:#fff;
}
.contact_form_input{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap:24px;
    width: 320px;
}
.contacts_block_title{
box-sizing: border-box;
writing-mode: vertical-rl;
transform: scale(-1);
width: 42px;
height: 267px;
font-weight: 700;
font-size: 38px;
line-height: 42px;
text-align: center;
letter-spacing: 0.08em;
text-transform: uppercase;
}
.contacts_img{
    position: absolute;
    top:56.68px;
    left: 141px;
    right: 99px;
    width: 160px;
height: 251px;
background-image: url("./assets/img/contacts.svg");
background-size: contain;
background-repeat: no-repeat;
}
.TextField{
    color:#fff;
}
.TextField.Mui-active{
    color:#B09368;
}
@media (max-width: 1250px) {
    .contacts{
        padding: 0 40px;
    }
.contacts_block_img{
margin-top: 40px;
height: 308px;
}
.contact_form{
margin-top: 40px;
width: 620px;
height: 308px;
padding: 26px 30px 20px 30px;
gap:40px;
}
.contacts_img{
    width: 135.05px;
height: 212.15px;
top:48px;
left:87.25px;
}
.contacts_block_title{
    font-weight: 700;
font-size: 28px;
}
}

@media (max-width: 800px) {
    .contacts{
   flex-direction: column;
       padding: 0 12px;
    }
    .contacts_img{
        position: inherit;
        top:0;
        left: 0;
        width: 41px;
height: 63px;
    }
.contacts_block_img{
background: #2E2D38;
height: 100px;
width: 620px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contacts_block_title{
writing-mode:horizontal-tb;
transform: scale(1);
font-weight: 600;
font-size: 26px;
line-height: 30px;
width: 182px;
height: 30px;
}
.contact_form{
    justify-content: space-around;
    flex-wrap: wrap;
margin-top: 0px;
height: 584px;
padding: 0;
}
.contact_form_input_area{
    box-sizing: border-box;
    height: 330px;
     width: 580px;
      padding: 0 18px;
}
.contact_form_input{
  padding: 0 18px;
  height: 235px;
  width: 580px;
}
}